body {
    background-color: rgb(22, 141, 22);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.teclado {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 15px;
    background: #eee;
    padding: 20px;
    border-radius: 12px;
}

.tecla {
    height: 80px;
    border: none;
    border-radius: 12px;
    background: white;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 0 #ccc;
}

.tecla:active {
    box-shadow: none;
    transform: translateY(4px);
}

.txt{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5px;
    font-family: Arial, Helvetica, sans-serif;
}